
<main>
      <div class="contents">
            <div class="topnav">
        <a class="topnav-button" href="/home">Restaurants</a>
        <a class="topnav-button" href="/form">Form</a>
        <a class="topnav-button-active" href="/about">About</a>
      </div>
      <div class="menu">
    <header class="header">I don't actually know how to code but here is some sample text because it is hard to think of things to write </header> 
      <div class="main-text">
       
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis sollicitudin est. Vestibulum accumsan ultrices leo, a tempor ex tincidunt eu. Maecenas nec nibh non libero egestas fermentum vitae sit amet ipsum. Cras at libero tempor, posuere mauris at, mollis odio. Quisque maximus aliquet velit, eu euismod justo malesuada in. Nunc venenatis erat et neque vestibulum, rutrum luctus purus convallis. Suspendisse viverra non sapien sit amet suscipit. Curabitur pretium nibh ut posuere pulvinar.

Pellentesque auctor finibus maximus.
      </div>
      </div>
</div>
</main>