<div class="topnav">
        <a href="/home">Restaurants</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a class="active" href="/about">About</a>
      </div>
<main>
    <header class="header">I don't actually know how to code but here is some sample text because it is hard to think of things to write </header> 
      <div class="main-text">
       
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis sollicitudin est. Vestibulum accumsan ultrices leo, a tempor ex tincidunt eu. Maecenas nec nibh non libero egestas fermentum vitae sit amet ipsum. Cras at libero tempor, posuere mauris at, mollis odio. Quisque maximus aliquet velit, eu euismod justo malesuada in. Nunc venenatis erat et neque vestibulum, rutrum luctus purus convallis. Suspendisse viverra non sapien sit amet suscipit. Curabitur pretium nibh ut posuere pulvinar.

Pellentesque auctor finibus maximus. Maecenas eros quam, elementum ac velit sed, tempus tincidunt nunc. Nulla imperdiet mauris quis malesuada porta. Nullam dictum congue condimentum. Vivamus eget purus placerat, vehicula augue sed, dictum lorem. Nam vitae efficitur leo. Ut cursus turpis nec vehicula posuere. Donec quis sagittis justo. Maecenas vel est eget est molestie pulvinar tincidunt nec odio. In rutrum purus eros, id fringilla quam vestibulum eu. Proin convallis elementum libero non aliquet.

Nunc ultrices dapibus augue, ut scelerisque sapien. Proin nec mauris venenatis, sollicitudin ante a, facilisis diam. Proin nisi sapien, suscipit in mattis vitae, efficitur eget magna. Ut eu tincidunt erat. Morbi pellentesque facilisis ante, sed lacinia leo sodales vitae. Nam in tortor vestibulum, hendrerit odio et, semper quam. Nunc et sodales tortor, convallis maximus orci. Ut posuere elementum magna, vel vestibulum dui. Suspendisse potenti. Maecenas et augue gravida, venenatis felis non, congue nisl.

Donec a erat a est tempor egestas quis sed justo. Sed sed pretium nibh. Proin malesuada semper erat non ullamcorper. Nunc consequat, mauris sed pharetra cursus, leo justo facilisis risus, a finibus nunc sem quis ipsum. Vivamus ut neque ultricies, ultrices orci sed, blandit tortor. Curabitur vel maximus turpis, sit amet mattis nisi. Integer est nibh, pretium nec libero quis, aliquam lacinia odio. Morbi placerat augue id posuere scelerisque. Duis imperdiet justo quis urna porta tincidunt. Quisque cursus id velit mattis sodales. Etiam quis tristique orci.

Praesent magna lorem, tempus a purus ac, efficitur volutpat sapien. Donec pellentesque facilisis dui finibus porttitor. Donec viverra massa non risus consequat, ut condimentum turpis faucibus. Curabitur ornare erat erat. Maecenas quis efficitur purus. Integer posuere gravida arcu, a finibus eros suscipit vitae. Nulla sed ante eget eros consequat dapibus eget sed eros. Mauris ac est vel tortor facilisis aliquet ut pellentesque orci. Nam at lorem vel dui mattis aliquet. Etiam vel dapibus risus. Nam vehicula semper tincidunt. Mauris ut enim justo. Etiam consectetur tortor augue, et accumsan mauris tincidunt eu. Suspendisse eleifend sapien sit amet sapien aliquet posuere sed id turpis. Mauris eu venenatis orci, ac suscipit neque. Nulla facilisi.

      </div>
</main>