<div class="topnav">
        <a class="active" href="/home">Restaurants</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="/about">About</a>
      </div>
<main>
    <div class="header">Welcome To The Greatest Restaurants In The World</div>
    <div class="contents">
            {{#each restaurants}}
            <a href={{this.name}}>
                <div class="card" id="clickable">
                    <header class="card-header">{{this.name}}</header>
                    <menus class="card-details">{{this.menus.length}} menus</menus>
                    <img class="images" src={{this.image}}>
                </div>
            </a>
            {{/each}}
    </div>
</main>